doctype html
html(lang='es')
  include ../partials/head.pug

  body
    include ../partials/aside.pug

    //- Main
    main.container-fluid
      .row
        article.main-content(role="main")
          header
            h1= section
            p Generated at #{Date()}
            p To give you more layout varieties, we implemented a full-width layout with a fixed sidebar on left/right. Also, this sidebar has two color variations.

            ol.toc
              each elements in components
                li
                  a(href='#' + elements.name.toLowerCase().replace(/\s/g, "_")) #{elements.name}

          each elements in components
            section
              h2(id=elements.name.toLowerCase().replace(/\s/g, "_")) #{elements.name}
              div !{elements.description}
              p= elements.statuses

              .code-window
                .code-preview
                  iframe(src="javascript:'" + elements.exampleIframe +"';")
                pre.line-numbers
                  code.language-jade !{elements.example}
    //- End Main

    include ../partials/footer.pug
